//colors
$text-blue       : hsl(238, 29%, 16%);
$text-red        : hsl(14, 88%, 65%);
$bg-violet       : hsl(273, 75%, 66%);
$bg-blue         : hsl(240, 73%, 65%);
$text-darkBlue   : hsl(237, 12%, 33%);
$text-grayBlue   : hsl(240, 6%, 50%);
$divider         : hsl(240, 5%, 91%);


//font
$font-size   :  12px;
$font-stack1 :  400 $font-size 'Kumbh Sans', sans-serif;
$font-stack2 :  700 $font-size 'Kumbh Sans', sans-serif;
